.inputs
{
	padding: 30px;
	background-color: #ccc;
	margin: 30px;
	width: 100%;
}

body {
color:black;

background-image:url(wallpaper.jpg);
background-color:black;
margin:0;
background-repeat: no-repeat;
}

